html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/images/natural_paper.png");
    font-family: 'Gloria Hallelujah', cursive;
}

.header-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.app-title {
    font-size: 40px;
    margin: 10px 0px 10px 0px;
    align-self: center;
    text-transform: uppercase;
}

.app-description {
    margin: 10px 0px 10px 0px;
    align-self: center;
}

.add-book-button {
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
    border-radius: 10px;
    align-self: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    padding: 5px;
    width: 150px;
}

.main-container {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex: 2;
}

.book-table {
    border: black solid 2px;
    margin: 10px 0px 10px 0px;
    width: 90%;
}

.book-table thead {
    font-size: 20px;
    text-transform: uppercase;
}